In [82]:
import pandas as pd

In [83]:
df_2024 = pd.read_excel("../datasets/2024.xlsx", header=1)
df_2024.head()

,Дата полёта,Сообщение SHR,Сообщение DEP,Сообщение ARR
0,2024-01-01,(SHR-ZZZZZ \n-ZZZZ0900 \n-M0016/M0026 /ZONA R0...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/07C4935 DOF/240...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1515\n-REG/07C4935 DOF...
1,2024-01-01,(SHR-ZZZZZ\n-ZZZZ0900\n-M0000/M0029 /ZONA MR20...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1213\n-REG/ZZZZZ DOF/2...
2,2024-01-01,(SHR-ZZZZZ\n-ZZZZ1000\n-M0000/M0039 /ZONA MR32...,(DEP-ZZZZZ-ZZZZ1000-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ1000-ZZZZ1137\n-REG/ZZZZZ DOF/2...
3,2024-01-02,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0770 /ZONA MR18...,(DEP-ZZZZZ-ZZZZ0614-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ1231\n-REG/ZZZZZ DOF/2...
4,2024-01-02,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0025 /MR15/\n-Z...,(DEP-ZZZZZ-ZZZZ0631-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ0914\n-REG/ZZZZZ DOF/2...

In [84]:
df_2025 = pd.read_excel("../datasets/2025.xlsx")
df_2025.head()

,Центр ЕС ОрВД,SHR,DEP,ARR
0,Санкт-Петербургский,(SHR-ZZZZZ\n-ZZZZ0705\n-K0300M3000\n-DEP/5957N...,-TITLE IDEP\n-SID 7772187998\n-ADD 250201\n-AT...,NaN
1,Ростовский,"(SHR-00725\n-ZZZZ0600\n-M0000/M0005 /ZONA R0,5...",-TITLE IDEP\n-SID 7772251137\n-ADD 250124\n-AT...,-TITLE IARR\n-SID 7772251137\n-ADA 250124\n-AT...
2,Новосибирский,(SHR-RF37362\n-ZZZZ0400\n-M0000/M0080 /ZONA R0...,-TITLE IDEP\n-SID 7772251311\n-ADD 250123\n-AT...,-TITLE IARR\n-SID 7772251311\n-ADA 250123\n-AT...
3,Екатеринбургский,(SHR-0938G\n-ZZZZ1000\n-M0000/M0005 /ZONA 5646...,-TITLE IDEP\n-SID 7772251691\n-ADD 250111\n-AT...,-TITLE IARR\n-SID 7772251691\n-ADA 250111\n-AT...
4,Московский,(SHR-ZZZZZ\n-ZZZZ1900\n-M0020/M0025 /ZONA KO02...,-TITLE IDEP\n-SID 7772260026\n-ADD 250108\n-AT...,-TITLE IARR\n-SID 7772260026\n-ADA 250108\n-AT...

In [85]:
df_2024["Центр ЕС ОрВД"] = None

In [86]:
df_2024.rename(
    columns={"Сообщение SHR": "SHR", "Сообщение DEP": "DEP", "Сообщение ARR": "ARR"},
    inplace=True,
)

In [87]:
df_2024.columns, df_2025.columns

(Index(['Дата полёта', 'SHR', 'DEP', 'ARR', 'Центр ЕС ОрВД'], dtype='object'),
 Index(['Центр ЕС ОрВД', 'SHR', 'DEP', 'ARR'], dtype='object'))

In [88]:
df_combined = pd.concat(
    [
        df_2024[["Центр ЕС ОрВД", "SHR", "DEP", "ARR"]],
        df_2025[["Центр ЕС ОрВД", "SHR", "DEP", "ARR"]],
    ],
    ignore_index=True,
)
df_combined.rename(columns={"Центр ЕС ОрВД": "center"}, inplace=True)
df_combined.tail()

,center,SHR,DEP,ARR
97983,Самарский,"(SHR-ZZZZZ\n-ZZZZ1500\n-M0000/M0001 /ZONA R3,6...",-TITLE IDEP\n-SID 7772812786\n-ADD 250731\n-AT...,-TITLE IARR\n-SID 7772812786\n-ADA 250801\n-AT...
97984,Московский,(SHR-RA2440G\n-ZZZZ1600\n-M0000/M0045 /ZONA 56...,-TITLE IDEP\n-SID 7772812976\n-ADD 250731\n-AT...,-TITLE IARR\n-SID 7772812976\n-ADA 250731\n-AT...
97985,Московский,(SHR-RA2886G\n-ZZZZ1630\n-M0000/M0150 /ZONA 56...,-TITLE IDEP\n-SID 7772813060\n-ADD 250731\n-AT...,-TITLE IARR\n-SID 7772813060\n-ADA 250731\n-AT...
97986,Санкт-Петербургский,"(SHR-ZZZZZ\n-ZZZZ1645\n-M0000/M0040 /ZONA R2,5...",-TITLE IDEP\n-SID 7772813139\n-ADD 250731\n-AT...,-TITLE IARR\n-SID 7772813139\n-ADA 250731\n-AT...
97987,Новосибирский,(SHR-RA3160G\n-ZZZZ2215\n-M0005/M0180 /ZONA 56...,-TITLE IDEP\n-SID 7772813475\n-ADD 250731\n-AT...,-TITLE IARR\n-SID 7772813475\n-ADA 250801\n-AT...

In [89]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97988 entries, 0 to 97987
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   center  76902 non-null  object
 1   SHR     97975 non-null  object
 2   DEP     95823 non-null  object
 3   ARR     95324 non-null  object
dtypes: object(4)
memory usage: 3.0+ MB

In [90]:
df_combined.shape

(97988, 4)

In [91]:
df_combined.isna().sum()

center    21086
SHR          13
DEP        2165
ARR        2664
dtype: int64

In [92]:
# id полета
df_combined["flight_id"] = df_combined["SHR"].str.extract(r"SID/(\d+)")
df_combined.head()

,center,SHR,DEP,ARR,flight_id
0,None,(SHR-ZZZZZ \n-ZZZZ0900 \n-M0016/M0026 /ZONA R0...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/07C4935 DOF/240...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1515\n-REG/07C4935 DOF...,7771445428
1,None,(SHR-ZZZZZ\n-ZZZZ0900\n-M0000/M0029 /ZONA MR20...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1213\n-REG/ZZZZZ DOF/2...,NaN
2,None,(SHR-ZZZZZ\n-ZZZZ1000\n-M0000/M0039 /ZONA MR32...,(DEP-ZZZZZ-ZZZZ1000-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ1000-ZZZZ1137\n-REG/ZZZZZ DOF/2...,NaN
3,None,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0770 /ZONA MR18...,(DEP-ZZZZZ-ZZZZ0614-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ1231\n-REG/ZZZZZ DOF/2...,NaN
4,None,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0025 /MR15/\n-Z...,(DEP-ZZZZZ-ZZZZ0631-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ0914\n-REG/ZZZZZ DOF/2...,NaN

In [93]:
# тип БПЛА
df_combined["uav_type"] = df_combined["SHR"].str.extract(r"TYP/([^\s)]+)")
# координаты взлета
df_combined["dep_coord"] = df_combined["SHR"].str.extract(r"DEP/([0-9]+[NS][0-9]+[EW])")
# координаты посадки
df_combined["dest_coord"] = df_combined["SHR"].str.extract(
    r"DEST/([0-9]+[NS][0-9]+[EW])"
)
# DDMM(SS)NDDDMM(SS)E - формат
df_combined.head()

,center,SHR,DEP,ARR,flight_id,uav_type,dep_coord,dest_coord
0,None,(SHR-ZZZZZ \n-ZZZZ0900 \n-M0016/M0026 /ZONA R0...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/07C4935 DOF/240...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1515\n-REG/07C4935 DOF...,7771445428,BLA,5509N03737E,5509N03737E
1,None,(SHR-ZZZZZ\n-ZZZZ0900\n-M0000/M0029 /ZONA MR20...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1213\n-REG/ZZZZZ DOF/2...,NaN,BLA,554529N0382503E,554529N0382503E
2,None,(SHR-ZZZZZ\n-ZZZZ1000\n-M0000/M0039 /ZONA MR32...,(DEP-ZZZZZ-ZZZZ1000-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ1000-ZZZZ1137\n-REG/ZZZZZ DOF/2...,NaN,BLA,561931N0381503E,561931N0381503E
3,None,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0770 /ZONA MR18...,(DEP-ZZZZZ-ZZZZ0614-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ1231\n-REG/ZZZZZ DOF/2...,NaN,BLA,5429N03955E,5429N03955E
4,None,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0025 /MR15/\n-Z...,(DEP-ZZZZZ-ZZZZ0631-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ0914\n-REG/ZZZZZ DOF/2...,NaN,BLA,571534N0375026E,571534N0375026E

In [94]:
# плановая дата полета, формат - YYMMDD
df_combined["dof"] = df_combined["SHR"].str.extract(r"DOF/(\d{6})")
df_combined.head()

,center,SHR,DEP,ARR,flight_id,uav_type,dep_coord,dest_coord,dof
0,None,(SHR-ZZZZZ \n-ZZZZ0900 \n-M0016/M0026 /ZONA R0...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/07C4935 DOF/240...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1515\n-REG/07C4935 DOF...,7771445428,BLA,5509N03737E,5509N03737E,240101
1,None,(SHR-ZZZZZ\n-ZZZZ0900\n-M0000/M0029 /ZONA MR20...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1213\n-REG/ZZZZZ DOF/2...,NaN,BLA,554529N0382503E,554529N0382503E,240101
2,None,(SHR-ZZZZZ\n-ZZZZ1000\n-M0000/M0039 /ZONA MR32...,(DEP-ZZZZZ-ZZZZ1000-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ1000-ZZZZ1137\n-REG/ZZZZZ DOF/2...,NaN,BLA,561931N0381503E,561931N0381503E,240101
3,None,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0770 /ZONA MR18...,(DEP-ZZZZZ-ZZZZ0614-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ1231\n-REG/ZZZZZ DOF/2...,NaN,BLA,5429N03955E,5429N03955E,240102
4,None,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0025 /MR15/\n-Z...,(DEP-ZZZZZ-ZZZZ0631-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ0914\n-REG/ZZZZZ DOF/2...,NaN,BLA,571534N0375026E,571534N0375026E,240102

In [95]:
# плановое время полета по записям за 2024 (запись вида ARR - откуда и во сколько,куда и во сколько) формат - HHMM
times = df_combined["ARR"].str.extract(
    r"ARR-[A-Z0-9]+-[A-Z0-9]{4}(?P<dep_hhmm>\d{4})-[A-Z0-9]{4}(?P<arr_hhmm>\d{4})"
)
df_combined["dep_time_plan"] = times["dep_hhmm"]
df_combined["arr_time_plan"] = times["arr_hhmm"]
df_combined.head()

,center,SHR,DEP,ARR,flight_id,uav_type,dep_coord,dest_coord,dof,dep_time_plan,arr_time_plan
0,None,(SHR-ZZZZZ \n-ZZZZ0900 \n-M0016/M0026 /ZONA R0...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/07C4935 DOF/240...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1515\n-REG/07C4935 DOF...,7771445428,BLA,5509N03737E,5509N03737E,240101,0900,1515
1,None,(SHR-ZZZZZ\n-ZZZZ0900\n-M0000/M0029 /ZONA MR20...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1213\n-REG/ZZZZZ DOF/2...,NaN,BLA,554529N0382503E,554529N0382503E,240101,0900,1213
2,None,(SHR-ZZZZZ\n-ZZZZ1000\n-M0000/M0039 /ZONA MR32...,(DEP-ZZZZZ-ZZZZ1000-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ1000-ZZZZ1137\n-REG/ZZZZZ DOF/2...,NaN,BLA,561931N0381503E,561931N0381503E,240101,1000,1137
3,None,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0770 /ZONA MR18...,(DEP-ZZZZZ-ZZZZ0614-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ1231\n-REG/ZZZZZ DOF/2...,NaN,BLA,5429N03955E,5429N03955E,240102,0600,1231
4,None,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0025 /MR15/\n-Z...,(DEP-ZZZZZ-ZZZZ0631-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ0914\n-REG/ZZZZZ DOF/2...,NaN,BLA,571534N0375026E,571534N0375026E,240102,0600,0914

In [96]:
# по записям на 2025 - фактические даты и времени (поиск по DEP/ARR)
df_combined["dep_time_actual"] = None
df_combined["arr_time_actual"] = None
df_combined["dep_date_actual"] = None
df_combined["arr_date_actual"] = None

atd_series = df_2025["DEP"].astype(str).str.extract(r"ATD (\d{4})")[0]
ata_series = df_2025["ARR"].astype(str).str.extract(r"ATA (\d{4})")[0]
add_series = df_2025["DEP"].astype(str).str.extract(r"ADD (\d{6})")[0]
ada_series = df_2025["ARR"].astype(str).str.extract(r"ADA (\d{6})")[0]

- ATD HHMM — Actual Time of Departure;

- ATA HHMM — Actual Time of Arrival;

- ADD YYMMDD — Actual Departure Date;

- ADA YYMMDD — Actual Arrival Date.

offset_2025 — чтобы знать, метка для обозначения того, с какого индекса идут строки за 2025 год

In [97]:
# в случае отсутсвия ADD (фактическая дата вылета) записываем плановую дату (DOF)
# запись фактич даты и времени в датафрейм

offset_2025 = len(df_2024)

for idx in range(len(df_2025)):
    combined_idx = offset_2025 + idx
    dep_time = atd_series.iloc[idx]
    arr_time = ata_series.iloc[idx]
    dep_date = add_series.iloc[idx]
    arr_date = ada_series.iloc[idx]
    if pd.isna(dep_date):
        dep_date = df_combined.loc[combined_idx, "dof"]
    if pd.notna(dep_date):
        df_combined.at[combined_idx, "dep_date_actual"] = dep_date
    if pd.notna(dep_time):
        df_combined.at[combined_idx, "dep_time_actual"] = dep_time
    if pd.notna(arr_date):
        df_combined.at[combined_idx, "arr_date_actual"] = arr_date
    if pd.notna(arr_time):
        df_combined.at[combined_idx, "arr_time_actual"] = arr_time

In [98]:
df_combined.head()

,center,SHR,DEP,ARR,flight_id,uav_type,dep_coord,dest_coord,dof,dep_time_plan,arr_time_plan,dep_time_actual,arr_time_actual,dep_date_actual,arr_date_actual
0,None,(SHR-ZZZZZ \n-ZZZZ0900 \n-M0016/M0026 /ZONA R0...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/07C4935 DOF/240...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1515\n-REG/07C4935 DOF...,7771445428,BLA,5509N03737E,5509N03737E,240101,0900,1515,None,None,None,None
1,None,(SHR-ZZZZZ\n-ZZZZ0900\n-M0000/M0029 /ZONA MR20...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1213\n-REG/ZZZZZ DOF/2...,NaN,BLA,554529N0382503E,554529N0382503E,240101,0900,1213,None,None,None,None
2,None,(SHR-ZZZZZ\n-ZZZZ1000\n-M0000/M0039 /ZONA MR32...,(DEP-ZZZZZ-ZZZZ1000-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ1000-ZZZZ1137\n-REG/ZZZZZ DOF/2...,NaN,BLA,561931N0381503E,561931N0381503E,240101,1000,1137,None,None,None,None
3,None,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0770 /ZONA MR18...,(DEP-ZZZZZ-ZZZZ0614-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ1231\n-REG/ZZZZZ DOF/2...,NaN,BLA,5429N03955E,5429N03955E,240102,0600,1231,None,None,None,None
4,None,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0025 /MR15/\n-Z...,(DEP-ZZZZZ-ZZZZ0631-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ0914\n-REG/ZZZZZ DOF/2...,NaN,BLA,571534N0375026E,571534N0375026E,240102,0600,0914,None,None,None,None

In [99]:
df_combined.tail()

,center,SHR,DEP,ARR,flight_id,uav_type,dep_coord,dest_coord,dof,dep_time_plan,arr_time_plan,dep_time_actual,arr_time_actual,dep_date_actual,arr_date_actual
97983,Самарский,"(SHR-ZZZZZ\n-ZZZZ1500\n-M0000/M0001 /ZONA R3,6...",-TITLE IDEP\n-SID 7772812786\n-ADD 250731\n-AT...,-TITLE IARR\n-SID 7772812786\n-ADA 250801\n-AT...,7772812786,BLA,5254N05047E,5254N05047E,250731,NaN,NaN,1513,0612,250731,250801
97984,Московский,(SHR-RA2440G\n-ZZZZ1600\n-M0000/M0045 /ZONA 56...,-TITLE IDEP\n-SID 7772812976\n-ADD 250731\n-AT...,-TITLE IARR\n-SID 7772812976\n-ADA 250731\n-AT...,7772812976,AER,5621N03730E,5621N03730E,250731,NaN,NaN,1610,1720,250731,250731
97985,Московский,(SHR-RA2886G\n-ZZZZ1630\n-M0000/M0150 /ZONA 56...,-TITLE IDEP\n-SID 7772813060\n-ADD 250731\n-AT...,-TITLE IARR\n-SID 7772813060\n-ADA 250731\n-AT...,7772813060,AER,5640N03850E,5624N03850E,250731,NaN,NaN,1630,1740,250731,250731
97986,Санкт-Петербургский,"(SHR-ZZZZZ\n-ZZZZ1645\n-M0000/M0040 /ZONA R2,5...",-TITLE IDEP\n-SID 7772813139\n-ADD 250731\n-AT...,-TITLE IARR\n-SID 7772813139\n-ADA 250731\n-AT...,7772813139,BLA,6219N03435E,6219N03435E,250731,NaN,NaN,1647,1806,250731,250731
97987,Новосибирский,(SHR-RA3160G\n-ZZZZ2215\n-M0005/M0180 /ZONA 56...,-TITLE IDEP\n-SID 7772813475\n-ADD 250731\n-AT...,-TITLE IARR\n-SID 7772813475\n-ADA 250801\n-AT...,7772813475,AER,5631N08447E,5633N08432E,250731,NaN,NaN,2240,0000,250731,250801

In [100]:
# склеиваем даты вида YYMMDD и HHMM в pandas.Timestamp
def combine_date_time(date_str, time_str):
    if pd.isna(date_str) or pd.isna(time_str):
        return pd.NaT
    try:
        return pd.to_datetime(date_str + time_str, format="%y%m%d%H%M")
    except Exception:
        return pd.NaT

In [101]:
# проходимся по рядам (фактич дата и время или плановые)
# вылет
df_combined["dep_datetime"] = df_combined.apply(
    lambda row: combine_date_time(
        row["dep_date_actual"] if pd.notna(row["dep_date_actual"]) else row["dof"],
        (
            row["dep_time_actual"]
            if pd.notna(row["dep_time_actual"])
            else row["dep_time_plan"]
        ),
    ),
    axis=1,
)
# прилет
df_combined["arr_datetime"] = df_combined.apply(
    lambda row: combine_date_time(
        row["arr_date_actual"] if pd.notna(row["arr_date_actual"]) else row["dof"],
        (
            row["arr_time_actual"]
            if pd.notna(row["arr_time_actual"])
            else row["arr_time_plan"]
        ),
    ),
    axis=1,
)

In [102]:
# обработка случая когда прилет произошел раньше по времени, чем вылет (добавляем сутки к прилету)
# ситуация разных часовых поясов
mask = (
    df_combined["dep_datetime"].notna()
    & df_combined["arr_datetime"].notna()
    & (df_combined["arr_datetime"] < df_combined["dep_datetime"])
)
df_combined.loc[mask, "arr_datetime"] += pd.Timedelta(days=1)

In [103]:
# работа с длительностью полета
df_combined["duration_min"] = None
mask_duration = (
    df_combined["dep_datetime"].notna() & df_combined["arr_datetime"].notna()
)
df_combined.loc[mask_duration, "duration_min"] = (
    df_combined.loc[mask_duration, "arr_datetime"]
    - df_combined.loc[mask_duration, "dep_datetime"]
).dt.total_seconds() / 60

In [104]:
# перевод координат вида 554529N0382503E в градусы
# нужна отдельная функция?
# подаются строки вида: широта (DDMM или DDMMSS) + N/S, затем долгота (DDDMM или DDDMMSS) + E/W

In [105]:
df_combined["dep_coord"].head()

0        5509N03737E
1    554529N0382503E
2    561931N0381503E
3        5429N03955E
4    571534N0375026E
Name: dep_coord, dtype: object

In [106]:
import re

In [107]:
def parse_coordinate(coord_str):
    if not isinstance(coord_str, str) or coord_str.strip() == "":
        return None, None
    match = re.match(r"^([0-9]+)([NS])([0-9]+)([EW])$", coord_str.strip())
    if not match:
        return None, None
    lat_digits, lat_hem, lon_digits, lon_hem = match.groups()
    lat_deg = int(lat_digits[0:2])
    if len(lat_digits) == 4:  # DDMM
        lat_min = int(lat_digits[2:4])
        lat_sec = 0
    elif len(lat_digits) == 6:  # DDMMSS
        lat_min = int(lat_digits[2:4])
        lat_sec = int(lat_digits[4:6])
    else:
        lat_min = int(lat_digits[2:4]) if len(lat_digits) >= 4 else 0
        lat_sec = int(lat_digits[4:6]) if len(lat_digits) >= 6 else 0
    lat = lat_deg + lat_min / 60 + lat_sec / 3600
    if lat_hem == "S":
        lat = -lat
    if len(lon_digits) == 5:  # DDDMM
        lon_deg = int(lon_digits[0:3])
        lon_min = int(lon_digits[3:5])
        lon_sec = 0
    elif len(lon_digits) == 7:  # DDDMMSS
        lon_deg = int(lon_digits[0:3])
        lon_min = int(lon_digits[3:5])
        lon_sec = int(lon_digits[5:7])
    else:
        lon_deg = int(lon_digits[0:3]) if len(lon_digits) >= 3 else int(lon_digits)
        lon_min = int(lon_digits[3:5]) if len(lon_digits) >= 5 else 0
        lon_sec = int(lon_digits[5:7]) if len(lon_digits) >= 7 else 0
    lon = lon_deg + lon_min / 60 + lon_sec / 3600
    if lon_hem == "W":
        lon = -lon
    return lat, lon

In [108]:
# преобразуем координаты
# взлет
df_combined[["takeoff_lat", "takeoff_lon"]] = df_combined["dep_coord"].apply(
    lambda c: pd.Series(parse_coordinate(c))
)
# посадка
df_combined[["landing_lat", "landing_lon"]] = df_combined["dest_coord"].apply(
    lambda c: pd.Series(parse_coordinate(c))
)

In [109]:
df_combined.head()

,center,SHR,DEP,ARR,flight_id,uav_type,dep_coord,dest_coord,dof,dep_time_plan,...,arr_time_actual,dep_date_actual,arr_date_actual,dep_datetime,arr_datetime,duration_min,takeoff_lat,takeoff_lon,landing_lat,landing_lon
0,None,(SHR-ZZZZZ \n-ZZZZ0900 \n-M0016/M0026 /ZONA R0...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/07C4935 DOF/240...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1515\n-REG/07C4935 DOF...,7771445428,BLA,5509N03737E,5509N03737E,240101,0900,...,None,None,None,2024-01-01 09:00:00,2024-01-01 15:15:00,375.0,55.150000,37.616667,55.150000,37.616667
1,None,(SHR-ZZZZZ\n-ZZZZ0900\n-M0000/M0029 /ZONA MR20...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1213\n-REG/ZZZZZ DOF/2...,NaN,BLA,554529N0382503E,554529N0382503E,240101,0900,...,None,None,None,2024-01-01 09:00:00,2024-01-01 12:13:00,193.0,55.758056,38.417500,55.758056,38.417500
2,None,(SHR-ZZZZZ\n-ZZZZ1000\n-M0000/M0039 /ZONA MR32...,(DEP-ZZZZZ-ZZZZ1000-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ1000-ZZZZ1137\n-REG/ZZZZZ DOF/2...,NaN,BLA,561931N0381503E,561931N0381503E,240101,1000,...,None,None,None,2024-01-01 10:00:00,2024-01-01 11:37:00,97.0,56.325278,38.250833,56.325278,38.250833
3,None,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0770 /ZONA MR18...,(DEP-ZZZZZ-ZZZZ0614-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ1231\n-REG/ZZZZZ DOF/2...,NaN,BLA,5429N03955E,5429N03955E,240102,0600,...,None,None,None,2024-01-02 06:00:00,2024-01-02 12:31:00,391.0,54.483333,39.916667,54.483333,39.916667
4,None,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0025 /MR15/\n-Z...,(DEP-ZZZZZ-ZZZZ0631-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ0914\n-REG/ZZZZZ DOF/2...,NaN,BLA,571534N0375026E,571534N0375026E,240102,0600,...,None,None,None,2024-01-02 06:00:00,2024-01-02 09:14:00,194.0,57.259444,37.840556,57.259444,37.840556

In [110]:
# обаботка координат для таблицы 2025 года (ARR по ключу ADARRZ)
missing_dest = df_combined["landing_lat"].isna() & df_combined["ARR"].notna()
for idx in df_combined[missing_dest].index:
    text = str(df_combined.at[idx, "ARR"])
    match = re.search(r"ADARRZ ([0-9]+[NS][0-9]+[EW])", text)
    if match:
        lat_val, lon_val = parse_coordinate(match.group(1))
        df_combined.at[idx, "landing_lat"] = lat_val
        df_combined.at[idx, "landing_lon"] = lon_val

In [111]:
df_combined.head()

,center,SHR,DEP,ARR,flight_id,uav_type,dep_coord,dest_coord,dof,dep_time_plan,...,arr_time_actual,dep_date_actual,arr_date_actual,dep_datetime,arr_datetime,duration_min,takeoff_lat,takeoff_lon,landing_lat,landing_lon
0,None,(SHR-ZZZZZ \n-ZZZZ0900 \n-M0016/M0026 /ZONA R0...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/07C4935 DOF/240...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1515\n-REG/07C4935 DOF...,7771445428,BLA,5509N03737E,5509N03737E,240101,0900,...,None,None,None,2024-01-01 09:00:00,2024-01-01 15:15:00,375.0,55.150000,37.616667,55.150000,37.616667
1,None,(SHR-ZZZZZ\n-ZZZZ0900\n-M0000/M0029 /ZONA MR20...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1213\n-REG/ZZZZZ DOF/2...,NaN,BLA,554529N0382503E,554529N0382503E,240101,0900,...,None,None,None,2024-01-01 09:00:00,2024-01-01 12:13:00,193.0,55.758056,38.417500,55.758056,38.417500
2,None,(SHR-ZZZZZ\n-ZZZZ1000\n-M0000/M0039 /ZONA MR32...,(DEP-ZZZZZ-ZZZZ1000-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ1000-ZZZZ1137\n-REG/ZZZZZ DOF/2...,NaN,BLA,561931N0381503E,561931N0381503E,240101,1000,...,None,None,None,2024-01-01 10:00:00,2024-01-01 11:37:00,97.0,56.325278,38.250833,56.325278,38.250833
3,None,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0770 /ZONA MR18...,(DEP-ZZZZZ-ZZZZ0614-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ1231\n-REG/ZZZZZ DOF/2...,NaN,BLA,5429N03955E,5429N03955E,240102,0600,...,None,None,None,2024-01-02 06:00:00,2024-01-02 12:31:00,391.0,54.483333,39.916667,54.483333,39.916667
4,None,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0025 /MR15/\n-Z...,(DEP-ZZZZZ-ZZZZ0631-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ0914\n-REG/ZZZZZ DOF/2...,NaN,BLA,571534N0375026E,571534N0375026E,240102,0600,...,None,None,None,2024-01-02 06:00:00,2024-01-02 09:14:00,194.0,57.259444,37.840556,57.259444,37.840556

In [112]:
df_final = df_combined.drop(
    columns=[
        "SHR",
        "DEP",
        "ARR",
        "dof",
        "dep_coord",
        "dest_coord",
        "dep_time_plan",
        "arr_time_plan",
        "dep_time_actual",
        "arr_time_actual",
        "dep_date_actual",
        "arr_date_actual",
    ]
)
df_final.reset_index(drop=True, inplace=True)

In [113]:
df_final.head()

,center,flight_id,uav_type,dep_datetime,arr_datetime,duration_min,takeoff_lat,takeoff_lon,landing_lat,landing_lon
0,None,7771445428,BLA,2024-01-01 09:00:00,2024-01-01 15:15:00,375.0,55.150000,37.616667,55.150000,37.616667
1,None,NaN,BLA,2024-01-01 09:00:00,2024-01-01 12:13:00,193.0,55.758056,38.417500,55.758056,38.417500
2,None,NaN,BLA,2024-01-01 10:00:00,2024-01-01 11:37:00,97.0,56.325278,38.250833,56.325278,38.250833
3,None,NaN,BLA,2024-01-02 06:00:00,2024-01-02 12:31:00,391.0,54.483333,39.916667,54.483333,39.916667
4,None,NaN,BLA,2024-01-02 06:00:00,2024-01-02 09:14:00,194.0,57.259444,37.840556,57.259444,37.840556

In [115]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97988 entries, 0 to 97987
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   center        76902 non-null  object
 1   flight_id     92711 non-null  object
 2   uav_type      97974 non-null  object
 3   dep_datetime  95647 non-null  datetime64[ns]
 4   arr_datetime  95134 non-null  datetime64[ns]
 5   duration_min  93069 non-null  object
 6   takeoff_lat   95977 non-null  float64
 7   takeoff_lon   95977 non-null  float64
 8   landing_lat   95964 non-null  float64
 9   landing_lon   95964 non-null  float64
dtypes: datetime64[ns](2), float64(4), object(4)
memory usage: 7.5+ MB

In [116]:
df_final.isna().sum()

center          21086
flight_id        5277
uav_type           14
dep_datetime     2341
arr_datetime     2854
duration_min     4919
takeoff_lat      2011
takeoff_lon      2011
landing_lat      2024
landing_lon      2024
dtype: int64

In [114]:
df_final.shape

(97988, 10)

- center — центр ЕС ОрВД (для 2024 — None);

- flight_id — ID полёта;

- uav_type — тип БПЛА;

- dep_datetime — дата-время взлёта (datetime);

- arr_datetime — дата-время посадки (datetime);

- duration_min — длительность полёта в минутах (float);

- takeoff_lat, takeoff_lon — координаты взлёта (градусы, десятич);

- landing_lat, landing_lon — координаты посадки (градусы, десятич);