In [ ]:
import pandas as pd

## Моя (Юра) часть

In [101]:
df_2024_per_city = pd.read_excel("../data/2024_v2.xlsx", sheet_name=None)
df_2025_per_city = pd.read_excel("../data/2025_v2.xlsx", sheet_name=None)

concat всей пригодной даты из 24

In [102]:
def add_center(data, district_name):
    return pd.concat(
        [pd.DataFrame([district_name] * len(data), columns=["center"]),
        data],
        axis = 1
    )

df_combined = add_center(df_2024_per_city["Москва"], "Москва")

for key in list(df_2024_per_city.keys())[1:]:
    df_combined = pd.concat(
        [df_combined, 
         add_center(df_2024_per_city[key], key)], 
         ignore_index=True
    )

df_combined.tail()

df_2024 = df_combined.copy()

concat всей пригодной даты из 25

In [103]:
df_2025 = pd.DataFrame()

for key in df_2025_per_city.keys():
    df_2025 = pd.concat(
        [df_2025, 
         add_center(df_2025_per_city[key], key)], 
         ignore_index=True
    )

    df_combined = pd.concat(
        [df_combined, 
         add_center(df_2025_per_city[key], key)], 
         ignore_index=True
    )

df_combined.tail()

,center,SHR,DEP,ARR
128839,Иркутск,"(SHR-ZZZZZ\n-ZZZZ0200\n-M0047/M0057 /ZONA R1,2...",-TITLE IDEP\n-SID 7772706377\n-ADD 250702\n-AT...,-TITLE IARR\n-SID 7772706377\n-ADA 250702\n-AT...
128840,Иркутск,(SHR-0808D59\n-ZZZZ0400\n-M0080/M0228 /ZONA MR...,-TITLE IDEP\n-SID 7772730681\n-ADD 250713\n-AT...,-TITLE IARR\n-SID 7772730681\n-ADA 250713\n-AT...
128841,Иркутск,(SHR-W086773\n-ZZZZ0100\n-S0082/S0102 /ZONA MR...,-TITLE IDEP\n-SID 7772749748\n-ADD 250715\n-AT...,-TITLE IARR\n-SID 7772749748\n-ADA 250715\n-AT...
128842,Иркутск,(SHR-RF16257\n-ZZZZ0400\n-M0050/M0080 /ZONA MR...,-TITLE IDEP\n-SID 7772750876\n-ADD 250716\n-AT...,-TITLE IARR\n-SID 7772750876\n-ADA 250716\n-AT...
128843,Иркутск,"(SHR-ZZZZZ\n-ZZZZ0300\n-M0042/M0052 /ZONA R5,5...",-TITLE IDEP\n-SID 7772754829\n-ADD 250716\n-AT...,NaN

In [104]:
df_2025

,center,SHR,DEP,ARR
0,Якутск,(SHR-ZZZZZ\n-ZZZZ0000\n-M0048/M0088 /ZONA 6138...,-TITLE IDEP\n-SID 7772282638\n-ADD 250114\n-AT...,-TITLE IARR\n-SID 7772282638\n-ADA 250114\n-AT...
1,Якутск,(SHR-ZZZZZ\n-ZZZZ0000\n-M0048/M0088 /ZONA 6138...,-TITLE IDEP\n-SID 7772290727\n-ADD 250120\n-AT...,-TITLE IARR\n-SID 7772290727\n-ADA 250120\n-AT...
2,Якутск,(SHR-ZZZZZ\n-ZZZZ0000\n-M0115/M0165 /ZONA 5544...,-TITLE IDEP\n-SID 7772299367\n-ADD 250124\n-AT...,-TITLE IARR\n-SID 7772299367\n-ADA 250124\n-AT...
3,Якутск,(SHR-ZZZZZ\n-ZZZZ0000\n-M0048/M0088 /ZONA 6138...,-TITLE IDEP\n-SID 7772300717\n-ADD 250127\n-AT...,-TITLE IARR\n-SID 7772300717\n-ADA 250127\n-AT...
4,Якутск,(SHR-ZZZZZ\n-ZZZZ0100\n-M0003/M0080 /ZONA 6232...,-TITLE IDEP\n-SID 7772305290\n-ADD 250126\n-AT...,-TITLE IARR\n-SID 7772305290\n-ADA 250126\n-AT...
...,...,...,...,...
76897,Иркутск,"(SHR-ZZZZZ\n-ZZZZ0200\n-M0047/M0057 /ZONA R1,2...",-TITLE IDEP\n-SID 7772706377\n-ADD 250702\n-AT...,-TITLE IARR\n-SID 7772706377\n-ADA 250702\n-AT...
76898,Иркутск,(SHR-0808D59\n-ZZZZ0400\n-M0080/M0228 /ZONA MR...,-TITLE IDEP\n-SID 7772730681\n-ADD 250713\n-AT...,-TITLE IARR\n-SID 7772730681\n-ADA 250713\n-AT...
76899,Иркутск,(SHR-W086773\n-ZZZZ0100\n-S0082/S0102 /ZONA MR...,-TITLE IDEP\n-SID 7772749748\n-ADD 250715\n-AT...,-TITLE IARR\n-SID 7772749748\n-ADA 250715\n-AT...
76900,Иркутск,(SHR-RF16257\n-ZZZZ0400\n-M0050/M0080 /ZONA MR...,-TITLE IDEP\n-SID 7772750876\n-ADD 250716\n-AT...,-TITLE IARR\n-SID 7772750876\n-ADA 250716\n-AT...
76901,Иркутск,"(SHR-ZZZZZ\n-ZZZZ0300\n-M0042/M0052 /ZONA R5,5...",-TITLE IDEP\n-SID 7772754829\n-ADD 250716\n-AT...,NaN

Конец моей части

In [83]:
df_2024 = pd.read_excel("../datasets/2024.xlsx", header=1)
df_2024.head()

,Дата полёта,Сообщение SHR,Сообщение DEP,Сообщение ARR
0,2024-01-01,(SHR-ZZZZZ \n-ZZZZ0900 \n-M0016/M0026 /ZONA R0...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/07C4935 DOF/240...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1515\n-REG/07C4935 DOF...
1,2024-01-01,(SHR-ZZZZZ\n-ZZZZ0900\n-M0000/M0029 /ZONA MR20...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1213\n-REG/ZZZZZ DOF/2...
2,2024-01-01,(SHR-ZZZZZ\n-ZZZZ1000\n-M0000/M0039 /ZONA MR32...,(DEP-ZZZZZ-ZZZZ1000-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ1000-ZZZZ1137\n-REG/ZZZZZ DOF/2...
3,2024-01-02,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0770 /ZONA MR18...,(DEP-ZZZZZ-ZZZZ0614-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ1231\n-REG/ZZZZZ DOF/2...
4,2024-01-02,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0025 /MR15/\n-Z...,(DEP-ZZZZZ-ZZZZ0631-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ0914\n-REG/ZZZZZ DOF/2...

In [84]:
df_2025 = pd.read_excel("../datasets/2025.xlsx")
df_2025.head()

,Центр ЕС ОрВД,SHR,DEP,ARR
0,Санкт-Петербургский,(SHR-ZZZZZ\n-ZZZZ0705\n-K0300M3000\n-DEP/5957N...,-TITLE IDEP\n-SID 7772187998\n-ADD 250201\n-AT...,NaN
1,Ростовский,"(SHR-00725\n-ZZZZ0600\n-M0000/M0005 /ZONA R0,5...",-TITLE IDEP\n-SID 7772251137\n-ADD 250124\n-AT...,-TITLE IARR\n-SID 7772251137\n-ADA 250124\n-AT...
2,Новосибирский,(SHR-RF37362\n-ZZZZ0400\n-M0000/M0080 /ZONA R0...,-TITLE IDEP\n-SID 7772251311\n-ADD 250123\n-AT...,-TITLE IARR\n-SID 7772251311\n-ADA 250123\n-AT...
3,Екатеринбургский,(SHR-0938G\n-ZZZZ1000\n-M0000/M0005 /ZONA 5646...,-TITLE IDEP\n-SID 7772251691\n-ADD 250111\n-AT...,-TITLE IARR\n-SID 7772251691\n-ADA 250111\n-AT...
4,Московский,(SHR-ZZZZZ\n-ZZZZ1900\n-M0020/M0025 /ZONA KO02...,-TITLE IDEP\n-SID 7772260026\n-ADD 250108\n-AT...,-TITLE IARR\n-SID 7772260026\n-ADA 250108\n-AT...

In [85]:
df_2024["Центр ЕС ОрВД"] = None

In [86]:
df_2024.rename(
    columns={"Сообщение SHR": "SHR", "Сообщение DEP": "DEP", "Сообщение ARR": "ARR"},
    inplace=True,
)

In [87]:
df_2024.columns, df_2025.columns

(Index(['Дата полёта', 'SHR', 'DEP', 'ARR', 'Центр ЕС ОрВД'], dtype='object'),
 Index(['Центр ЕС ОрВД', 'SHR', 'DEP', 'ARR'], dtype='object'))

In [88]:
df_combined = pd.concat(
    [
        df_2024[["Центр ЕС ОрВД", "SHR", "DEP", "ARR"]],
        df_2025[["Центр ЕС ОрВД", "SHR", "DEP", "ARR"]],
    ],
    ignore_index=True,
)
df_combined.rename(columns={"Центр ЕС ОрВД": "center"}, inplace=True)
df_combined.tail()

,center,SHR,DEP,ARR
97983,Самарский,"(SHR-ZZZZZ\n-ZZZZ1500\n-M0000/M0001 /ZONA R3,6...",-TITLE IDEP\n-SID 7772812786\n-ADD 250731\n-AT...,-TITLE IARR\n-SID 7772812786\n-ADA 250801\n-AT...
97984,Московский,(SHR-RA2440G\n-ZZZZ1600\n-M0000/M0045 /ZONA 56...,-TITLE IDEP\n-SID 7772812976\n-ADD 250731\n-AT...,-TITLE IARR\n-SID 7772812976\n-ADA 250731\n-AT...
97985,Московский,(SHR-RA2886G\n-ZZZZ1630\n-M0000/M0150 /ZONA 56...,-TITLE IDEP\n-SID 7772813060\n-ADD 250731\n-AT...,-TITLE IARR\n-SID 7772813060\n-ADA 250731\n-AT...
97986,Санкт-Петербургский,"(SHR-ZZZZZ\n-ZZZZ1645\n-M0000/M0040 /ZONA R2,5...",-TITLE IDEP\n-SID 7772813139\n-ADD 250731\n-AT...,-TITLE IARR\n-SID 7772813139\n-ADA 250731\n-AT...
97987,Новосибирский,(SHR-RA3160G\n-ZZZZ2215\n-M0005/M0180 /ZONA 56...,-TITLE IDEP\n-SID 7772813475\n-ADD 250731\n-AT...,-TITLE IARR\n-SID 7772813475\n-ADA 250801\n-AT...

In [89]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97988 entries, 0 to 97987
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   center  76902 non-null  object
 1   SHR     97975 non-null  object
 2   DEP     95823 non-null  object
 3   ARR     95324 non-null  object
dtypes: object(4)
memory usage: 3.0+ MB

In [90]:
df_combined.shape

(97988, 4)

In [91]:
df_combined.isna().sum()

center    21086
SHR          13
DEP        2165
ARR        2664
dtype: int64

<span style="color:red"><b>>>>>>>> remote</b></span>

In [ ]:
# id полета
df_combined["flight_id"] = df_combined["SHR"].str.extract(r"SID/(\d+)")
df_combined.head()

In [ ]:
# тип БПЛА
df_combined["uav_type"] = df_combined["SHR"].str.extract(r"TYP/([^\s)]+)")
# координаты взлета
df_combined["dep_coord"] = df_combined["SHR"].str.extract(r"DEP/([0-9]+[NS][0-9]+[EW])")
# координаты посадки
df_combined["dest_coord"] = df_combined["SHR"].str.extract(
    r"DEST/([0-9]+[NS][0-9]+[EW])"
)
# DDMM(SS)NDDDMM(SS)E - формат
df_combined.head()

In [ ]:
# плановая дата полета, формат - YYMMDD
df_combined["dof"] = df_combined["SHR"].str.extract(r"DOF/(\d{6})")
df_combined.head()

In [ ]:
# плановое время полета по записям за 2024 (запись вида ARR - откуда и во сколько,куда и во сколько) формат - HHMM
times = df_combined["ARR"].str.extract(
    r"ARR-[A-Z0-9]+-[A-Z0-9]{4}(?P<dep_hhmm>\d{4})-[A-Z0-9]{4}(?P<arr_hhmm>\d{4})"
)
df_combined["dep_time_plan"] = times["dep_hhmm"]
df_combined["arr_time_plan"] = times["arr_hhmm"]
df_combined.head()

In [ ]:
# по записям на 2025 - фактические даты и времени (поиск по DEP/ARR)
df_combined["dep_time_actual"] = None
df_combined["arr_time_actual"] = None
df_combined["dep_date_actual"] = None
df_combined["arr_date_actual"] = None

atd_series = df_2025["DEP"].astype(str).str.extract(r"ATD (\d{4})")[0]
ata_series = df_2025["ARR"].astype(str).str.extract(r"ATA (\d{4})")[0]
add_series = df_2025["DEP"].astype(str).str.extract(r"ADD (\d{6})")[0]
ada_series = df_2025["ARR"].astype(str).str.extract(r"ADA (\d{6})")[0]

- ATD HHMM — Actual Time of Departure;

- ATA HHMM — Actual Time of Arrival;

- ADD YYMMDD — Actual Departure Date;

- ADA YYMMDD — Actual Arrival Date.

offset_2025 — чтобы знать, метка для обозначения того, с какого индекса идут строки за 2025 год

In [ ]:
# в случае отсутсвия ADD (фактическая дата вылета) записываем плановую дату (DOF)
# запись фактич даты и времени в датафрейм

offset_2025 = len(df_2024)

for idx in range(len(df_2025)):
    combined_idx = offset_2025 + idx
    dep_time = atd_series.iloc[idx]
    arr_time = ata_series.iloc[idx]
    dep_date = add_series.iloc[idx]
    arr_date = ada_series.iloc[idx]
    if pd.isna(dep_date):
        dep_date = df_combined.loc[combined_idx, "dof"]
    if pd.notna(dep_date):
        df_combined.at[combined_idx, "dep_date_actual"] = dep_date
    if pd.notna(dep_time):
        df_combined.at[combined_idx, "dep_time_actual"] = dep_time
    if pd.notna(arr_date):
        df_combined.at[combined_idx, "arr_date_actual"] = arr_date
    if pd.notna(arr_time):
        df_combined.at[combined_idx, "arr_time_actual"] = arr_time

In [ ]:
df_combined.head()

In [ ]:
df_combined.tail()

In [ ]:
# склеиваем даты вида YYMMDD и HHMM в pandas.Timestamp
def combine_date_time(date_str, time_str):
    if pd.isna(date_str) or pd.isna(time_str):
        return pd.NaT
    try:
        return pd.to_datetime(date_str + time_str, format="%y%m%d%H%M")
    except Exception:
        return pd.NaT

In [ ]:
# проходимся по рядам (фактич дата и время или плановые)
# вылет
df_combined["dep_datetime"] = df_combined.apply(
    lambda row: combine_date_time(
        row["dep_date_actual"] if pd.notna(row["dep_date_actual"]) else row["dof"],
        (
            row["dep_time_actual"]
            if pd.notna(row["dep_time_actual"])
            else row["dep_time_plan"]
        ),
    ),
    axis=1,
)
# прилет
df_combined["arr_datetime"] = df_combined.apply(
    lambda row: combine_date_time(
        row["arr_date_actual"] if pd.notna(row["arr_date_actual"]) else row["dof"],
        (
            row["arr_time_actual"]
            if pd.notna(row["arr_time_actual"])
            else row["arr_time_plan"]
        ),
    ),
    axis=1,
)

In [ ]:
# обработка случая когда прилет произошел раньше по времени, чем вылет (добавляем сутки к прилету)
# ситуация разных часовых поясов
mask = (
    df_combined["dep_datetime"].notna()
    & df_combined["arr_datetime"].notna()
    & (df_combined["arr_datetime"] < df_combined["dep_datetime"])
)
df_combined.loc[mask, "arr_datetime"] += pd.Timedelta(days=1)

In [ ]:
# работа с длительностью полета
df_combined["duration_min"] = None
mask_duration = (
    df_combined["dep_datetime"].notna() & df_combined["arr_datetime"].notna()
)
df_combined.loc[mask_duration, "duration_min"] = (
    df_combined.loc[mask_duration, "arr_datetime"]
    - df_combined.loc[mask_duration, "dep_datetime"]
).dt.total_seconds() / 60

In [ ]:
# перевод координат вида 554529N0382503E в градусы
# нужна отдельная функция?
# подаются строки вида: широта (DDMM или DDMMSS) + N/S, затем долгота (DDDMM или DDDMMSS) + E/W

In [ ]:
df_combined["dep_coord"].head()

In [ ]:
import re

In [ ]:
def parse_coordinate(coord_str):
    if not isinstance(coord_str, str) or coord_str.strip() == "":
        return None, None
    match = re.match(r"^([0-9]+)([NS])([0-9]+)([EW])$", coord_str.strip())
    if not match:
        return None, None
    lat_digits, lat_hem, lon_digits, lon_hem = match.groups()
    lat_deg = int(lat_digits[0:2])
    if len(lat_digits) == 4:  # DDMM
        lat_min = int(lat_digits[2:4])
        lat_sec = 0
    elif len(lat_digits) == 6:  # DDMMSS
        lat_min = int(lat_digits[2:4])
        lat_sec = int(lat_digits[4:6])
    else:
        lat_min = int(lat_digits[2:4]) if len(lat_digits) >= 4 else 0
        lat_sec = int(lat_digits[4:6]) if len(lat_digits) >= 6 else 0
    lat = lat_deg + lat_min / 60 + lat_sec / 3600
    if lat_hem == "S":
        lat = -lat
    if len(lon_digits) == 5:  # DDDMM
        lon_deg = int(lon_digits[0:3])
        lon_min = int(lon_digits[3:5])
        lon_sec = 0
    elif len(lon_digits) == 7:  # DDDMMSS
        lon_deg = int(lon_digits[0:3])
        lon_min = int(lon_digits[3:5])
        lon_sec = int(lon_digits[5:7])
    else:
        lon_deg = int(lon_digits[0:3]) if len(lon_digits) >= 3 else int(lon_digits)
        lon_min = int(lon_digits[3:5]) if len(lon_digits) >= 5 else 0
        lon_sec = int(lon_digits[5:7]) if len(lon_digits) >= 7 else 0
    lon = lon_deg + lon_min / 60 + lon_sec / 3600
    if lon_hem == "W":
        lon = -lon
    return lat, lon

In [ ]:
# преобразуем координаты
# взлет
df_combined[["takeoff_lat", "takeoff_lon"]] = df_combined["dep_coord"].apply(
    lambda c: pd.Series(parse_coordinate(c))
)
# посадка
df_combined[["landing_lat", "landing_lon"]] = df_combined["dest_coord"].apply(
    lambda c: pd.Series(parse_coordinate(c))
)

In [ ]:
df_combined.head()

In [ ]:
# обаботка координат для таблицы 2025 года (ARR по ключу ADARRZ)
missing_dest = df_combined["landing_lat"].isna() & df_combined["ARR"].notna()
for idx in df_combined[missing_dest].index:
    text = str(df_combined.at[idx, "ARR"])
    match = re.search(r"ADARRZ ([0-9]+[NS][0-9]+[EW])", text)
    if match:
        lat_val, lon_val = parse_coordinate(match.group(1))
        df_combined.at[idx, "landing_lat"] = lat_val
        df_combined.at[idx, "landing_lon"] = lon_val

In [ ]:
df_combined.head()

In [ ]:
df_final = df_combined.drop(
    columns=[
        "SHR",
        "DEP",
        "ARR",
        "dof",
        "dep_coord",
        "dest_coord",
        "dep_time_plan",
        "arr_time_plan",
        "dep_time_actual",
        "arr_time_actual",
        "dep_date_actual",
        "arr_date_actual",
    ]
)
df_final.reset_index(drop=True, inplace=True)

In [ ]:
df_final.head()

In [ ]:
df_final.info()

In [ ]:
df_final.isna().sum()

In [ ]:
df_final.shape

- center — центр ЕС ОрВД (для 2024 — None);

- flight_id — ID полёта;

- uav_type — тип БПЛА;

- dep_datetime — дата-время взлёта (datetime);

- arr_datetime — дата-время посадки (datetime);

- duration_min — длительность полёта в минутах (float);

- takeoff_lat, takeoff_lon — координаты взлёта (градусы, десятич);

- landing_lat, landing_lon — координаты посадки (градусы, десятич);

<span style="color:red"><b><<<<<<< local</b></span>

In [130]:
df_final.to_excel("../datasets/data.xlsx")

<span style="color:red"><b>=======</b></span>

<span style="color:red"><b>>>>>>>> remote</b></span>