In [157]:
import pandas as pd

In [158]:
df_2024_per_city = pd.read_excel("../datasets/2024_v2.xlsx", sheet_name=None)
df_2025_per_city = pd.read_excel("../datasets/2025_v2.xlsx", sheet_name=None)

In [159]:
def add_center(data, district_name):
    return pd.concat(
        [pd.DataFrame([district_name] * len(data), columns=["center"]), data], axis=1
    )


df_combined = add_center(df_2024_per_city["Москва"], "Москва")

for key in list(df_2024_per_city.keys())[1:]:
    df_combined = pd.concat(
        [df_combined, add_center(df_2024_per_city[key], key)], ignore_index=True
    )

df_combined.tail()

df_2024 = df_combined.copy()

In [160]:
df_2025 = pd.DataFrame()

for key in df_2025_per_city.keys():
    df_2025 = pd.concat(
        [df_2025, add_center(df_2025_per_city[key], key)], ignore_index=True
    )

    df_combined = pd.concat(
        [df_combined, add_center(df_2025_per_city[key], key)], ignore_index=True
    )

df_combined.tail()

,center,SHR,DEP,ARR
128839,Иркутск,"(SHR-ZZZZZ\n-ZZZZ0200\n-M0047/M0057 /ZONA R1,2...",-TITLE IDEP\n-SID 7772706377\n-ADD 250702\n-AT...,-TITLE IARR\n-SID 7772706377\n-ADA 250702\n-AT...
128840,Иркутск,(SHR-0808D59\n-ZZZZ0400\n-M0080/M0228 /ZONA MR...,-TITLE IDEP\n-SID 7772730681\n-ADD 250713\n-AT...,-TITLE IARR\n-SID 7772730681\n-ADA 250713\n-AT...
128841,Иркутск,(SHR-W086773\n-ZZZZ0100\n-S0082/S0102 /ZONA MR...,-TITLE IDEP\n-SID 7772749748\n-ADD 250715\n-AT...,-TITLE IARR\n-SID 7772749748\n-ADA 250715\n-AT...
128842,Иркутск,(SHR-RF16257\n-ZZZZ0400\n-M0050/M0080 /ZONA MR...,-TITLE IDEP\n-SID 7772750876\n-ADD 250716\n-AT...,-TITLE IARR\n-SID 7772750876\n-ADA 250716\n-AT...
128843,Иркутск,"(SHR-ZZZZZ\n-ZZZZ0300\n-M0042/M0052 /ZONA R5,5...",-TITLE IDEP\n-SID 7772754829\n-ADD 250716\n-AT...,NaN

In [161]:
df_2025

,center,SHR,DEP,ARR
0,Якутск,(SHR-ZZZZZ\n-ZZZZ0000\n-M0048/M0088 /ZONA 6138...,-TITLE IDEP\n-SID 7772282638\n-ADD 250114\n-AT...,-TITLE IARR\n-SID 7772282638\n-ADA 250114\n-AT...
1,Якутск,(SHR-ZZZZZ\n-ZZZZ0000\n-M0048/M0088 /ZONA 6138...,-TITLE IDEP\n-SID 7772290727\n-ADD 250120\n-AT...,-TITLE IARR\n-SID 7772290727\n-ADA 250120\n-AT...
2,Якутск,(SHR-ZZZZZ\n-ZZZZ0000\n-M0115/M0165 /ZONA 5544...,-TITLE IDEP\n-SID 7772299367\n-ADD 250124\n-AT...,-TITLE IARR\n-SID 7772299367\n-ADA 250124\n-AT...
3,Якутск,(SHR-ZZZZZ\n-ZZZZ0000\n-M0048/M0088 /ZONA 6138...,-TITLE IDEP\n-SID 7772300717\n-ADD 250127\n-AT...,-TITLE IARR\n-SID 7772300717\n-ADA 250127\n-AT...
4,Якутск,(SHR-ZZZZZ\n-ZZZZ0100\n-M0003/M0080 /ZONA 6232...,-TITLE IDEP\n-SID 7772305290\n-ADD 250126\n-AT...,-TITLE IARR\n-SID 7772305290\n-ADA 250126\n-AT...
...,...,...,...,...
76897,Иркутск,"(SHR-ZZZZZ\n-ZZZZ0200\n-M0047/M0057 /ZONA R1,2...",-TITLE IDEP\n-SID 7772706377\n-ADD 250702\n-AT...,-TITLE IARR\n-SID 7772706377\n-ADA 250702\n-AT...
76898,Иркутск,(SHR-0808D59\n-ZZZZ0400\n-M0080/M0228 /ZONA MR...,-TITLE IDEP\n-SID 7772730681\n-ADD 250713\n-AT...,-TITLE IARR\n-SID 7772730681\n-ADA 250713\n-AT...
76899,Иркутск,(SHR-W086773\n-ZZZZ0100\n-S0082/S0102 /ZONA MR...,-TITLE IDEP\n-SID 7772749748\n-ADD 250715\n-AT...,-TITLE IARR\n-SID 7772749748\n-ADA 250715\n-AT...
76900,Иркутск,(SHR-RF16257\n-ZZZZ0400\n-M0050/M0080 /ZONA MR...,-TITLE IDEP\n-SID 7772750876\n-ADD 250716\n-AT...,-TITLE IARR\n-SID 7772750876\n-ADA 250716\n-AT...
76901,Иркутск,"(SHR-ZZZZZ\n-ZZZZ0300\n-M0042/M0052 /ZONA R5,5...",-TITLE IDEP\n-SID 7772754829\n-ADD 250716\n-AT...,NaN

In [162]:
# id полета
df_combined["flight_id"] = df_combined["SHR"].str.extract(r"SID/(\d+)")
df_combined.head()

,center,SHR,DEP,ARR,flight_id
0,Москва,(SHR-ZZZZZ \n-ZZZZ0900 \n-M0016/M0026 /ZONA R0...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/07C4935 DOF/240...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1515\n-REG/07C4935 DOF...,7771445428
1,Москва,(SHR-ZZZZZ\n-ZZZZ0900\n-M0000/M0029 /ZONA MR20...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1213\n-REG/ZZZZZ DOF/2...,NaN
2,Москва,(SHR-ZZZZZ\n-ZZZZ1000\n-M0000/M0039 /ZONA MR32...,(DEP-ZZZZZ-ZZZZ1000-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ1000-ZZZZ1137\n-REG/ZZZZZ DOF/2...,NaN
3,Москва,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0770 /ZONA MR18...,(DEP-ZZZZZ-ZZZZ0614-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ1231\n-REG/ZZZZZ DOF/2...,NaN
4,Москва,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0025 /MR15/\n-Z...,(DEP-ZZZZZ-ZZZZ0631-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ0914\n-REG/ZZZZZ DOF/2...,NaN

In [163]:
# тип БПЛА
df_combined["uav_type"] = df_combined["SHR"].str.extract(r"TYP/([^\s)]+)")
# координаты взлета
df_combined["dep_coord"] = df_combined["SHR"].str.extract(r"DEP/([0-9]+[NS][0-9]+[EW])")
# координаты посадки
df_combined["dest_coord"] = df_combined["SHR"].str.extract(
    r"DEST/([0-9]+[NS][0-9]+[EW])"
)
# DDMM(SS)NDDDMM(SS)E - формат
df_combined.head()

,center,SHR,DEP,ARR,flight_id,uav_type,dep_coord,dest_coord
0,Москва,(SHR-ZZZZZ \n-ZZZZ0900 \n-M0016/M0026 /ZONA R0...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/07C4935 DOF/240...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1515\n-REG/07C4935 DOF...,7771445428,BLA,5509N03737E,5509N03737E
1,Москва,(SHR-ZZZZZ\n-ZZZZ0900\n-M0000/M0029 /ZONA MR20...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1213\n-REG/ZZZZZ DOF/2...,NaN,BLA,554529N0382503E,554529N0382503E
2,Москва,(SHR-ZZZZZ\n-ZZZZ1000\n-M0000/M0039 /ZONA MR32...,(DEP-ZZZZZ-ZZZZ1000-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ1000-ZZZZ1137\n-REG/ZZZZZ DOF/2...,NaN,BLA,561931N0381503E,561931N0381503E
3,Москва,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0770 /ZONA MR18...,(DEP-ZZZZZ-ZZZZ0614-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ1231\n-REG/ZZZZZ DOF/2...,NaN,BLA,5429N03955E,5429N03955E
4,Москва,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0025 /MR15/\n-Z...,(DEP-ZZZZZ-ZZZZ0631-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ0914\n-REG/ZZZZZ DOF/2...,NaN,BLA,571534N0375026E,571534N0375026E

In [164]:
# плановая дата полета, формат - YYMMDD
df_combined["dof"] = df_combined["SHR"].str.extract(r"DOF/(\d{6})")
df_combined.head()

,center,SHR,DEP,ARR,flight_id,uav_type,dep_coord,dest_coord,dof
0,Москва,(SHR-ZZZZZ \n-ZZZZ0900 \n-M0016/M0026 /ZONA R0...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/07C4935 DOF/240...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1515\n-REG/07C4935 DOF...,7771445428,BLA,5509N03737E,5509N03737E,240101
1,Москва,(SHR-ZZZZZ\n-ZZZZ0900\n-M0000/M0029 /ZONA MR20...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1213\n-REG/ZZZZZ DOF/2...,NaN,BLA,554529N0382503E,554529N0382503E,240101
2,Москва,(SHR-ZZZZZ\n-ZZZZ1000\n-M0000/M0039 /ZONA MR32...,(DEP-ZZZZZ-ZZZZ1000-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ1000-ZZZZ1137\n-REG/ZZZZZ DOF/2...,NaN,BLA,561931N0381503E,561931N0381503E,240101
3,Москва,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0770 /ZONA MR18...,(DEP-ZZZZZ-ZZZZ0614-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ1231\n-REG/ZZZZZ DOF/2...,NaN,BLA,5429N03955E,5429N03955E,240102
4,Москва,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0025 /MR15/\n-Z...,(DEP-ZZZZZ-ZZZZ0631-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ0914\n-REG/ZZZZZ DOF/2...,NaN,BLA,571534N0375026E,571534N0375026E,240102

In [165]:
# плановое время полета по записям за 2024 (запись вида ARR - откуда и во сколько,куда и во сколько) формат - HHMM
times = df_combined["ARR"].str.extract(
    r"ARR-[A-Z0-9]+-[A-Z0-9]{4}(?P<dep_hhmm>\d{4})-[A-Z0-9]{4}(?P<arr_hhmm>\d{4})"
)
df_combined["dep_time_plan"] = times["dep_hhmm"]
df_combined["arr_time_plan"] = times["arr_hhmm"]
df_combined.head()

,center,SHR,DEP,ARR,flight_id,uav_type,dep_coord,dest_coord,dof,dep_time_plan,arr_time_plan
0,Москва,(SHR-ZZZZZ \n-ZZZZ0900 \n-M0016/M0026 /ZONA R0...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/07C4935 DOF/240...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1515\n-REG/07C4935 DOF...,7771445428,BLA,5509N03737E,5509N03737E,240101,0900,1515
1,Москва,(SHR-ZZZZZ\n-ZZZZ0900\n-M0000/M0029 /ZONA MR20...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1213\n-REG/ZZZZZ DOF/2...,NaN,BLA,554529N0382503E,554529N0382503E,240101,0900,1213
2,Москва,(SHR-ZZZZZ\n-ZZZZ1000\n-M0000/M0039 /ZONA MR32...,(DEP-ZZZZZ-ZZZZ1000-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ1000-ZZZZ1137\n-REG/ZZZZZ DOF/2...,NaN,BLA,561931N0381503E,561931N0381503E,240101,1000,1137
3,Москва,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0770 /ZONA MR18...,(DEP-ZZZZZ-ZZZZ0614-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ1231\n-REG/ZZZZZ DOF/2...,NaN,BLA,5429N03955E,5429N03955E,240102,0600,1231
4,Москва,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0025 /MR15/\n-Z...,(DEP-ZZZZZ-ZZZZ0631-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ0914\n-REG/ZZZZZ DOF/2...,NaN,BLA,571534N0375026E,571534N0375026E,240102,0600,0914

In [166]:
# по записям на 2025 - фактические даты и времени (поиск по DEP/ARR)
df_combined["dep_time_actual"] = None
df_combined["arr_time_actual"] = None
df_combined["dep_date_actual"] = None
df_combined["arr_date_actual"] = None

atd_series = df_2025["DEP"].astype(str).str.extract(r"ATD (\d{4})")[0]
ata_series = df_2025["ARR"].astype(str).str.extract(r"ATA (\d{4})")[0]
add_series = df_2025["DEP"].astype(str).str.extract(r"ADD (\d{6})")[0]
ada_series = df_2025["ARR"].astype(str).str.extract(r"ADA (\d{6})")[0]

- ATD HHMM — Actual Time of Departure;

- ATA HHMM — Actual Time of Arrival;

- ADD YYMMDD — Actual Departure Date;

- ADA YYMMDD — Actual Arrival Date.

offset_2025 — чтобы знать, метка для обозначения того, с какого индекса идут строки за 2025 год

In [167]:
# в случае отсутсвия ADD (фактическая дата вылета) записываем плановую дату (DOF)
# запись фактич даты и времени в датафрейм

offset_2025 = len(df_2024)

for idx in range(len(df_2025)):
    combined_idx = offset_2025 + idx
    dep_time = atd_series.iloc[idx]
    arr_time = ata_series.iloc[idx]
    dep_date = add_series.iloc[idx]
    arr_date = ada_series.iloc[idx]
    if pd.isna(dep_date):
        dep_date = df_combined.loc[combined_idx, "dof"]
    if pd.notna(dep_date):
        df_combined.at[combined_idx, "dep_date_actual"] = dep_date
    if pd.notna(dep_time):
        df_combined.at[combined_idx, "dep_time_actual"] = dep_time
    if pd.notna(arr_date):
        df_combined.at[combined_idx, "arr_date_actual"] = arr_date
    if pd.notna(arr_time):
        df_combined.at[combined_idx, "arr_time_actual"] = arr_time

In [168]:
df_combined.head()

,center,SHR,DEP,ARR,flight_id,uav_type,dep_coord,dest_coord,dof,dep_time_plan,arr_time_plan,dep_time_actual,arr_time_actual,dep_date_actual,arr_date_actual
0,Москва,(SHR-ZZZZZ \n-ZZZZ0900 \n-M0016/M0026 /ZONA R0...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/07C4935 DOF/240...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1515\n-REG/07C4935 DOF...,7771445428,BLA,5509N03737E,5509N03737E,240101,0900,1515,None,None,None,None
1,Москва,(SHR-ZZZZZ\n-ZZZZ0900\n-M0000/M0029 /ZONA MR20...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1213\n-REG/ZZZZZ DOF/2...,NaN,BLA,554529N0382503E,554529N0382503E,240101,0900,1213,None,None,None,None
2,Москва,(SHR-ZZZZZ\n-ZZZZ1000\n-M0000/M0039 /ZONA MR32...,(DEP-ZZZZZ-ZZZZ1000-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ1000-ZZZZ1137\n-REG/ZZZZZ DOF/2...,NaN,BLA,561931N0381503E,561931N0381503E,240101,1000,1137,None,None,None,None
3,Москва,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0770 /ZONA MR18...,(DEP-ZZZZZ-ZZZZ0614-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ1231\n-REG/ZZZZZ DOF/2...,NaN,BLA,5429N03955E,5429N03955E,240102,0600,1231,None,None,None,None
4,Москва,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0025 /MR15/\n-Z...,(DEP-ZZZZZ-ZZZZ0631-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ0914\n-REG/ZZZZZ DOF/2...,NaN,BLA,571534N0375026E,571534N0375026E,240102,0600,0914,None,None,None,None

In [169]:
df_combined.tail()

,center,SHR,DEP,ARR,flight_id,uav_type,dep_coord,dest_coord,dof,dep_time_plan,arr_time_plan,dep_time_actual,arr_time_actual,dep_date_actual,arr_date_actual
128839,Иркутск,"(SHR-ZZZZZ\n-ZZZZ0200\n-M0047/M0057 /ZONA R1,2...",-TITLE IDEP\n-SID 7772706377\n-ADD 250702\n-AT...,-TITLE IARR\n-SID 7772706377\n-ADA 250702\n-AT...,7772706377,2BLA,5214N10413E,5214N10413E,250702,NaN,NaN,0651,0651,250702,250702
128840,Иркутск,(SHR-0808D59\n-ZZZZ0400\n-M0080/M0228 /ZONA MR...,-TITLE IDEP\n-SID 7772730681\n-ADD 250713\n-AT...,-TITLE IARR\n-SID 7772730681\n-ADA 250713\n-AT...,7772730681,BLA,5331N11926E,5331N11926E,250713,NaN,NaN,0600,0644,250713,250713
128841,Иркутск,(SHR-W086773\n-ZZZZ0100\n-S0082/S0102 /ZONA MR...,-TITLE IDEP\n-SID 7772749748\n-ADD 250715\n-AT...,-TITLE IARR\n-SID 7772749748\n-ADA 250715\n-AT...,7772749748,BLA,5832N11530E,5832N11530E,250715,NaN,NaN,0100,0100,250715,250715
128842,Иркутск,(SHR-RF16257\n-ZZZZ0400\n-M0050/M0080 /ZONA MR...,-TITLE IDEP\n-SID 7772750876\n-ADD 250716\n-AT...,-TITLE IARR\n-SID 7772750876\n-ADA 250716\n-AT...,7772750876,BLA,5238N10428E,5238N10428E,250716,NaN,NaN,1009,1109,250716,250716
128843,Иркутск,"(SHR-ZZZZZ\n-ZZZZ0300\n-M0042/M0052 /ZONA R5,5...",-TITLE IDEP\n-SID 7772754829\n-ADD 250716\n-AT...,NaN,7772754829,2BLA,5227N10408E,5227N10408E,250716,NaN,NaN,0308,None,250716,None

In [170]:
# склеиваем даты вида YYMMDD и HHMM в pandas.Timestamp
def combine_date_time(date_str, time_str):
    if pd.isna(date_str) or pd.isna(time_str):
        return pd.NaT
    try:
        return pd.to_datetime(date_str + time_str, format="%y%m%d%H%M")
    except Exception:
        return pd.NaT

In [171]:
# проходимся по рядам (фактич дата и время или плановые)
# вылет
df_combined["dep_datetime"] = df_combined.apply(
    lambda row: combine_date_time(
        row["dep_date_actual"] if pd.notna(row["dep_date_actual"]) else row["dof"],
        (
            row["dep_time_actual"]
            if pd.notna(row["dep_time_actual"])
            else row["dep_time_plan"]
        ),
    ),
    axis=1,
)
# прилет
df_combined["arr_datetime"] = df_combined.apply(
    lambda row: combine_date_time(
        row["arr_date_actual"] if pd.notna(row["arr_date_actual"]) else row["dof"],
        (
            row["arr_time_actual"]
            if pd.notna(row["arr_time_actual"])
            else row["arr_time_plan"]
        ),
    ),
    axis=1,
)

In [172]:
# обработка случая когда прилет произошел раньше по времени, чем вылет (добавляем сутки к прилету)
# ситуация разных часовых поясов
mask = (
    df_combined["dep_datetime"].notna()
    & df_combined["arr_datetime"].notna()
    & (df_combined["arr_datetime"] < df_combined["dep_datetime"])
)
df_combined.loc[mask, "arr_datetime"] += pd.Timedelta(days=1)

In [173]:
# работа с длительностью полета
df_combined["duration_min"] = None
mask_duration = (
    df_combined["dep_datetime"].notna() & df_combined["arr_datetime"].notna()
)
df_combined.loc[mask_duration, "duration_min"] = (
    df_combined.loc[mask_duration, "arr_datetime"]
    - df_combined.loc[mask_duration, "dep_datetime"]
).dt.total_seconds() / 60

In [174]:
# перевод координат вида 554529N0382503E в градусы
# нужна отдельная функция?
# подаются строки вида: широта (DDMM или DDMMSS) + N/S, затем долгота (DDDMM или DDDMMSS) + E/W

In [175]:
df_combined["dep_coord"].head()

0        5509N03737E
1    554529N0382503E
2    561931N0381503E
3        5429N03955E
4    571534N0375026E
Name: dep_coord, dtype: object

In [176]:
import re

In [177]:
def parse_coordinate(coord_str):
    if not isinstance(coord_str, str) or coord_str.strip() == "":
        return None, None
    match = re.match(r"^([0-9]+)([NS])([0-9]+)([EW])$", coord_str.strip())
    if not match:
        return None, None
    lat_digits, lat_hem, lon_digits, lon_hem = match.groups()
    lat_deg = int(lat_digits[0:2])
    if len(lat_digits) == 4:  # DDMM
        lat_min = int(lat_digits[2:4])
        lat_sec = 0
    elif len(lat_digits) == 6:  # DDMMSS
        lat_min = int(lat_digits[2:4])
        lat_sec = int(lat_digits[4:6])
    else:
        lat_min = int(lat_digits[2:4]) if len(lat_digits) >= 4 else 0
        lat_sec = int(lat_digits[4:6]) if len(lat_digits) >= 6 else 0
    lat = lat_deg + lat_min / 60 + lat_sec / 3600
    if lat_hem == "S":
        lat = -lat
    if len(lon_digits) == 5:  # DDDMM
        lon_deg = int(lon_digits[0:3])
        lon_min = int(lon_digits[3:5])
        lon_sec = 0
    elif len(lon_digits) == 7:  # DDDMMSS
        lon_deg = int(lon_digits[0:3])
        lon_min = int(lon_digits[3:5])
        lon_sec = int(lon_digits[5:7])
    else:
        lon_deg = int(lon_digits[0:3]) if len(lon_digits) >= 3 else int(lon_digits)
        lon_min = int(lon_digits[3:5]) if len(lon_digits) >= 5 else 0
        lon_sec = int(lon_digits[5:7]) if len(lon_digits) >= 7 else 0
    lon = lon_deg + lon_min / 60 + lon_sec / 3600
    if lon_hem == "W":
        lon = -lon
    return lat, lon

In [178]:
# преобразуем координаты
# взлет
df_combined[["takeoff_lat", "takeoff_lon"]] = df_combined["dep_coord"].apply(
    lambda c: pd.Series(parse_coordinate(c))
)
# посадка
df_combined[["landing_lat", "landing_lon"]] = df_combined["dest_coord"].apply(
    lambda c: pd.Series(parse_coordinate(c))
)

In [179]:
df_combined.head()

,center,SHR,DEP,ARR,flight_id,uav_type,dep_coord,dest_coord,dof,dep_time_plan,...,arr_time_actual,dep_date_actual,arr_date_actual,dep_datetime,arr_datetime,duration_min,takeoff_lat,takeoff_lon,landing_lat,landing_lon
0,Москва,(SHR-ZZZZZ \n-ZZZZ0900 \n-M0016/M0026 /ZONA R0...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/07C4935 DOF/240...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1515\n-REG/07C4935 DOF...,7771445428,BLA,5509N03737E,5509N03737E,240101,0900,...,None,None,None,2024-01-01 09:00:00,2024-01-01 15:15:00,375.0,55.150000,37.616667,55.150000,37.616667
1,Москва,(SHR-ZZZZZ\n-ZZZZ0900\n-M0000/M0029 /ZONA MR20...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1213\n-REG/ZZZZZ DOF/2...,NaN,BLA,554529N0382503E,554529N0382503E,240101,0900,...,None,None,None,2024-01-01 09:00:00,2024-01-01 12:13:00,193.0,55.758056,38.417500,55.758056,38.417500
2,Москва,(SHR-ZZZZZ\n-ZZZZ1000\n-M0000/M0039 /ZONA MR32...,(DEP-ZZZZZ-ZZZZ1000-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ1000-ZZZZ1137\n-REG/ZZZZZ DOF/2...,NaN,BLA,561931N0381503E,561931N0381503E,240101,1000,...,None,None,None,2024-01-01 10:00:00,2024-01-01 11:37:00,97.0,56.325278,38.250833,56.325278,38.250833
3,Москва,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0770 /ZONA MR18...,(DEP-ZZZZZ-ZZZZ0614-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ1231\n-REG/ZZZZZ DOF/2...,NaN,BLA,5429N03955E,5429N03955E,240102,0600,...,None,None,None,2024-01-02 06:00:00,2024-01-02 12:31:00,391.0,54.483333,39.916667,54.483333,39.916667
4,Москва,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0025 /MR15/\n-Z...,(DEP-ZZZZZ-ZZZZ0631-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ0914\n-REG/ZZZZZ DOF/2...,NaN,BLA,571534N0375026E,571534N0375026E,240102,0600,...,None,None,None,2024-01-02 06:00:00,2024-01-02 09:14:00,194.0,57.259444,37.840556,57.259444,37.840556

In [180]:
# обаботка координат для таблицы 2025 года (ARR по ключу ADARRZ)
missing_dest = df_combined["landing_lat"].isna() & df_combined["ARR"].notna()
for idx in df_combined[missing_dest].index:
    text = str(df_combined.at[idx, "ARR"])
    match = re.search(r"ADARRZ ([0-9]+[NS][0-9]+[EW])", text)
    if match:
        lat_val, lon_val = parse_coordinate(match.group(1))
        df_combined.at[idx, "landing_lat"] = lat_val
        df_combined.at[idx, "landing_lon"] = lon_val

In [181]:
df_combined.head()

,center,SHR,DEP,ARR,flight_id,uav_type,dep_coord,dest_coord,dof,dep_time_plan,...,arr_time_actual,dep_date_actual,arr_date_actual,dep_datetime,arr_datetime,duration_min,takeoff_lat,takeoff_lon,landing_lat,landing_lon
0,Москва,(SHR-ZZZZZ \n-ZZZZ0900 \n-M0016/M0026 /ZONA R0...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/07C4935 DOF/240...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1515\n-REG/07C4935 DOF...,7771445428,BLA,5509N03737E,5509N03737E,240101,0900,...,None,None,None,2024-01-01 09:00:00,2024-01-01 15:15:00,375.0,55.150000,37.616667,55.150000,37.616667
1,Москва,(SHR-ZZZZZ\n-ZZZZ0900\n-M0000/M0029 /ZONA MR20...,(DEP-ZZZZZ-ZZZZ0900-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0900-ZZZZ1213\n-REG/ZZZZZ DOF/2...,NaN,BLA,554529N0382503E,554529N0382503E,240101,0900,...,None,None,None,2024-01-01 09:00:00,2024-01-01 12:13:00,193.0,55.758056,38.417500,55.758056,38.417500
2,Москва,(SHR-ZZZZZ\n-ZZZZ1000\n-M0000/M0039 /ZONA MR32...,(DEP-ZZZZZ-ZZZZ1000-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ1000-ZZZZ1137\n-REG/ZZZZZ DOF/2...,NaN,BLA,561931N0381503E,561931N0381503E,240101,1000,...,None,None,None,2024-01-01 10:00:00,2024-01-01 11:37:00,97.0,56.325278,38.250833,56.325278,38.250833
3,Москва,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0770 /ZONA MR18...,(DEP-ZZZZZ-ZZZZ0614-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ1231\n-REG/ZZZZZ DOF/2...,NaN,BLA,5429N03955E,5429N03955E,240102,0600,...,None,None,None,2024-01-02 06:00:00,2024-01-02 12:31:00,391.0,54.483333,39.916667,54.483333,39.916667
4,Москва,(SHR-ZZZZZ\n-ZZZZ0600\n-M0000/M0025 /MR15/\n-Z...,(DEP-ZZZZZ-ZZZZ0631-ZZZZ\n-REG/ZZZZZ DOF/24010...,(ARR-ZZZZZ-ZZZZ0600-ZZZZ0914\n-REG/ZZZZZ DOF/2...,NaN,BLA,571534N0375026E,571534N0375026E,240102,0600,...,None,None,None,2024-01-02 06:00:00,2024-01-02 09:14:00,194.0,57.259444,37.840556,57.259444,37.840556

In [182]:
df_final = df_combined.drop(
    columns=[
        "SHR",
        "DEP",
        "ARR",
        "dof",
        "dep_coord",
        "dest_coord",
        "dep_time_plan",
        "arr_time_plan",
        "dep_time_actual",
        "arr_time_actual",
        "dep_date_actual",
        "arr_date_actual",
    ]
)
df_final.reset_index(drop=True, inplace=True)

In [183]:
df_final.head()

,center,flight_id,uav_type,dep_datetime,arr_datetime,duration_min,takeoff_lat,takeoff_lon,landing_lat,landing_lon
0,Москва,7771445428,BLA,2024-01-01 09:00:00,2024-01-01 15:15:00,375.0,55.150000,37.616667,55.150000,37.616667
1,Москва,NaN,BLA,2024-01-01 09:00:00,2024-01-01 12:13:00,193.0,55.758056,38.417500,55.758056,38.417500
2,Москва,NaN,BLA,2024-01-01 10:00:00,2024-01-01 11:37:00,97.0,56.325278,38.250833,56.325278,38.250833
3,Москва,NaN,BLA,2024-01-02 06:00:00,2024-01-02 12:31:00,391.0,54.483333,39.916667,54.483333,39.916667
4,Москва,NaN,BLA,2024-01-02 06:00:00,2024-01-02 09:14:00,194.0,57.259444,37.840556,57.259444,37.840556

In [184]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128844 entries, 0 to 128843
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   center        128844 non-null  object
 1   flight_id     120031 non-null  object
 2   uav_type      128685 non-null  object
 3   dep_datetime  120351 non-null  datetime64[ns]
 4   arr_datetime  119838 non-null  datetime64[ns]
 5   duration_min  117773 non-null  object
 6   takeoff_lat   126403 non-null  float64
 7   takeoff_lon   126403 non-null  float64
 8   landing_lat   126398 non-null  float64
 9   landing_lon   126398 non-null  float64
dtypes: datetime64[ns](2), float64(4), object(4)
memory usage: 9.8+ MB

In [185]:
df_final.isna().sum()

center              0
flight_id        8813
uav_type          159
dep_datetime     8493
arr_datetime     9006
duration_min    11071
takeoff_lat      2441
takeoff_lon      2441
landing_lat      2446
landing_lon      2446
dtype: int64

In [186]:
df_final.shape

(128844, 10)

- center — центр ЕС ОрВД;

- flight_id — ID полёта;

- uav_type — тип БПЛА;

- dep_datetime — дата-время взлёта (datetime);

- arr_datetime — дата-время посадки (datetime);

- duration_min — длительность полёта в минутах (float);

- takeoff_lat, takeoff_lon — координаты взлёта (градусы, десятич);

- landing_lat, landing_lon — координаты посадки (градусы, десятич);

##### несколько вариантов кода по удалению дублей

In [187]:
# # удаление записей - дубликатов по ключу dedup_key (уникальному сочетанию)
# # пункт 3.2 ТЗ
# dedup_key = [
#     "flight_id",
#     "dep_datetime",
#     "takeoff_lat",
#     "takeoff_lon",
#     "landing_lat",
#     "landing_lon",
# ]
# before = len(df_final)
# df_final = df_final.drop_duplicates(subset=dedup_key, keep="first")
# after = len(df_final)

In [188]:
# количество дубликатов в данных
# before - after

In [189]:
# mask_no_id = df_final["flight_id"].isna()
# df_with_id = df_final[~mask_no_id].copy()
# df_no_id = df_final[mask_no_id].copy()

# before = len(df_final)
# df_with_id = df_with_id.drop_duplicates(subset="flight_id", keep="first")

# df_final = pd.concat([df_with_id, df_no_id], ignore_index=True)
# after = len(df_final)

##### конечный (наиболее надежный) выбранный вариант

In [190]:
import numpy as np

In [191]:
df = df_final.copy()

In [192]:
mask_no_id = df["flight_id"].isna() | (df["flight_id"].astype(str).str.strip() == "")
df_with_id = df[~mask_no_id].copy()
df_no_id = df[mask_no_id].copy()

before = len(df)

In [193]:
# удаление дублей с ключом flight_id + dep_date (записи с flight_id)
key_with_id = ["flight_id", "dep_datetime"]
df_with_id = df_with_id.sort_values(["flight_id", "dep_datetime"], kind="stable")
df_with_id = df_with_id.drop_duplicates(subset=key_with_id, keep="first")

In [194]:
# записи без flight_id

key_no_id = [
    "dep_datetime",
    "takeoff_lat",
    "takeoff_lon",
    "landing_lat",
    "landing_lon",
]
df_no_id = df_no_id.sort_values(["dep_datetime"], kind="stable")
df_no_id = df_no_id.drop_duplicates(subset=key_no_id, keep="first")

In [195]:
df_dedup = pd.concat([df_with_id, df_no_id], ignore_index=True)

In [196]:
after = len(df_dedup)

In [197]:
before - after

1856

In [208]:
df_final = df_dedup

In [209]:
df_final.head()

,center,flight_id,uav_type,dep_datetime,arr_datetime,duration_min,takeoff_lat,takeoff_lon,landing_lat,landing_lon
0,Москва,7771442462,BLA,2024-01-02 11:00:00,2024-01-02 12:55:00,115.0,57.233333,34.933333,57.233333,34.933333
1,Тюмень,7771444069,BLA,2024-01-01 00:00:00,2024-01-01 16:00:00,960.0,60.400000,69.816667,60.400000,69.816667
2,Тюмень,7771444071,BLA,2024-01-02 00:00:00,2024-01-02 16:00:00,960.0,60.400000,69.816667,60.400000,69.816667
3,Тюмень,7771444073,BLA,2024-01-03 00:00:00,2024-01-03 16:00:00,960.0,60.400000,69.816667,60.400000,69.816667
4,Тюмень,7771444078,BLA,2024-01-01 00:01:00,2024-01-01 16:00:00,959.0,60.400000,69.816667,60.400000,69.816667

In [210]:
df_final.isna().sum()

center             0
flight_id       7256
uav_type         118
dep_datetime    6887
arr_datetime    7400
duration_min    9465
takeoff_lat     2284
takeoff_lon     2284
landing_lat     2295
landing_lon     2295
dtype: int64

In [211]:
df_final["year_month"] = df_final["dep_datetime"].dt.to_period("M").astype(str)
df_final["weekday"] = df_final["dep_datetime"].dt.dayofweek  # 0 - Monday
df_final["date"] = df_final["dep_datetime"].dt.date
df_final["hour"] = df_final["dep_datetime"].dt.hour

In [212]:
df_final.head()

,center,flight_id,uav_type,dep_datetime,arr_datetime,duration_min,takeoff_lat,takeoff_lon,landing_lat,landing_lon,year_month,weekday,date,hour
0,Москва,7771442462,BLA,2024-01-02 11:00:00,2024-01-02 12:55:00,115.0,57.233333,34.933333,57.233333,34.933333,2024-01,1.0,2024-01-02,11.0
1,Тюмень,7771444069,BLA,2024-01-01 00:00:00,2024-01-01 16:00:00,960.0,60.400000,69.816667,60.400000,69.816667,2024-01,0.0,2024-01-01,0.0
2,Тюмень,7771444071,BLA,2024-01-02 00:00:00,2024-01-02 16:00:00,960.0,60.400000,69.816667,60.400000,69.816667,2024-01,1.0,2024-01-02,0.0
3,Тюмень,7771444073,BLA,2024-01-03 00:00:00,2024-01-03 16:00:00,960.0,60.400000,69.816667,60.400000,69.816667,2024-01,2.0,2024-01-03,0.0
4,Тюмень,7771444078,BLA,2024-01-01 00:01:00,2024-01-01 16:00:00,959.0,60.400000,69.816667,60.400000,69.816667,2024-01,0.0,2024-01-01,0.0

In [213]:
# функция определения категории времени - утра/дня/вечера или ночи
def daypart(h):
    if pd.isna(h):
        return None
    h = int(h)
    if 6 <= h < 12:
        return "morning"
    if 12 <= h < 18:
        return "day"
    if 18 <= h < 24:
        return "evening"
    return "night"

In [214]:
df_final["daypart"] = df_final["hour"].apply(daypart)

In [215]:
df_final.head()

,center,flight_id,uav_type,dep_datetime,arr_datetime,duration_min,takeoff_lat,takeoff_lon,landing_lat,landing_lon,year_month,weekday,date,hour,daypart
0,Москва,7771442462,BLA,2024-01-02 11:00:00,2024-01-02 12:55:00,115.0,57.233333,34.933333,57.233333,34.933333,2024-01,1.0,2024-01-02,11.0,morning
1,Тюмень,7771444069,BLA,2024-01-01 00:00:00,2024-01-01 16:00:00,960.0,60.400000,69.816667,60.400000,69.816667,2024-01,0.0,2024-01-01,0.0,night
2,Тюмень,7771444071,BLA,2024-01-02 00:00:00,2024-01-02 16:00:00,960.0,60.400000,69.816667,60.400000,69.816667,2024-01,1.0,2024-01-02,0.0,night
3,Тюмень,7771444073,BLA,2024-01-03 00:00:00,2024-01-03 16:00:00,960.0,60.400000,69.816667,60.400000,69.816667,2024-01,2.0,2024-01-03,0.0,night
4,Тюмень,7771444078,BLA,2024-01-01 00:01:00,2024-01-01 16:00:00,959.0,60.400000,69.816667,60.400000,69.816667,2024-01,0.0,2024-01-01,0.0,night

In [216]:
df_final.isna().sum()

center             0
flight_id       7256
uav_type         118
dep_datetime    6887
arr_datetime    7400
duration_min    9465
takeoff_lat     2284
takeoff_lon     2284
landing_lat     2295
landing_lon     2295
year_month         0
weekday         6887
date            6887
hour            6887
daypart         6887
dtype: int64

In [207]:
df_final.to_excel("../data/data.xlsx")

In [217]:
df_final.shape

(126988, 15)